<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925191026492-n4n1qce22jer24j9bfhh7ddqnpuh5lbs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925191026492-n4n1qce22jer24j9bfhh7ddqnpuh5lbs</string>
	<key>API_KEY</key>
	<string>AIzaSyBLbQMwAsPSNtRV2TRKM6LL3usm-hxMWqw</string>
	<key>GCM_SENDER_ID</key>
	<string>925191026492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pigman.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>bitnamtalk</string>
	<key>STORAGE_BUCKET</key>
	<string>bitnamtalk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925191026492:ios:413d538bdd4f3d11</string>
	<key>DATABASE_URL</key>
	<string>https://bitnamtalk.firebaseio.com</string>
</dict>
</plist>